# nRF52 Card board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_NRF52_CARD
	bool "nRF52 Card / NRF52832"
	depends on SOC_NRF52832_QFAA
